services:
  postgres:
    image: ivanlonel/postgis-with-extensions
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: album
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - ./sql/project.sql:/docker-entrypoint-initdb.d/init.sql
      - ${POSTGRES_DB_PATH:-./postgres_data}:/var/lib/postgresql/data
  album-ai:
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    tty: true
    ports:
      - "8080:8080"
    env_file:
      - .env.prod
    volumes:
      - ./images:/home/images
